html {
    box-sizing: border-box;
    height: 100%;
}

body {
    text-align: justify;
    background-color: black;
    color: white;
    font-size: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 50px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#num {
    color: rgb(96, 156, 96);
}

#txt {
    color: rgb(250, 121, 121);
}

#var {
    color: rgb(0, 119, 255);
}

#print, #metodo, #range {
    color: rgba(230, 230, 20, 0.911);
}

#parentesis {
    color: yellow;
}

#tipo-dato {
    color: aqua;
}

#comentario {
    color: gray;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 15px rgba(20, 104, 230, 1);
    }
    25% {
        box-shadow: 0 0 15px rgba(255, 0, 0, 1);
    }
    50% {
        box-shadow: 0 0 15px rgba(0, 255, 0, 1);
    }
    75% {
        box-shadow: 0 0 15px rgba(0, 0, 255, 1);
    }
    100% {
        box-shadow: 0 0 15px rgba(20, 104, 230, 1);
    }
}

#quiz {
    background-color: rgb(20, 104, 230);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
    height: 130px;
    width: 160px;
    border: none;
    border-radius: 15px;
    transition: border-radius 1s;
}

#quiz:hover {
    cursor: pointer;
    border-radius: 50%;
    animation: glow 2s infinite;
}

/* Estilos para el bloque de código */
.code-block {
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: auto;
    font-family: 'Consolas', 'Monaco', monospace;
    width: 40%;
    margin: 20px 0;
}

/* Estilos para la barra superior */
.code-header {
    background-color: #2d2d2d;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3d3d3d;
}

/* Estilo para el texto que indica el lenguaje */
.language {
    color: #ffffff;
    font-size: 14px;
}

/* Estilos para el botón de copiar */
.copy-button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
}

/* Estilo para el ícono de copiar */
.copy-icon {
    font-size: 14px;
}

/* Estilos para el contenido del código */
.code-content {
    margin: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
}